    
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../image/38861794_10156520286915138_1774289391280193536_o.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    }

#navbar {
        display: flex;
        justify-content: space-between;
        background: #333;
        color: #fff;
        padding: 1.5rem 8rem;
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom: 3px solid #4CAF50;
}

#navbar h2 a{
    color: #fff;
    text-decoration: none;
}
.login-page{
    width: 700px;
    padding: 10%;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin:0 auto 100px;
    padding: 45px;
    text-align: center ;

}
.form input{
    font-family: "Roboto",sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px ;
} 
.form button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}























